# skyweather2.service
[Unit]
Description=service to manage the skyweather2 service
After=network.target
After=mysqld.service

[Service]
Type=idle
ExecStart=/home/pi/bin/skyweather2exec.sh
WorkingDirectory=/home/pi/SDL_Pi_SkyWeather2
Restart=always
RestartSec=10
User=root
Requires=multi-user.target

[Install]
# WantedBy=multi-user.target
