# skyweather2.service
[Unit]
Description=Service File to manage the skyweather2 service
After=network.target
After=mysqld.service
Requires=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/bin/skyweather2exec.sh
WorkingDirectory=/home/pi/SDL_Pi_SkyWeather2
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
